<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main id="main">
      <div id="content">
        <div class="project-two-column">
          <%- include('../partials/project-card', projects[0]) %> <%-
          include('../partials/project-card', projects[1]) %>
        </div>
        <%- include('../partials/project-card', projects[2]) %>
        <!-- This will be either a grid of photos or a two part photo left/ text right
            these will link to a scrollable gallery of 3 to 5 images that will be presented horizontal
            on wide screens and vertical on mobile screens.  -->
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
